@{
    ViewBag.Title = "Home Page";
}


    <div class="container-fluid mt-3">
        <div class="paddingHome">
            <div><h3 class="font-italic pt-3 homeTitle">Football Forecast</h3></div>
            <hr />
        </div>

        <div class="row d-flex justify-content-center">

            <!-- Premier League Card -->
            <div class="card m-2 border-success" style="width: 18rem; box-shadow: 5px 5px 5px grey">

                <!-- Card image -->
                <div class="view overlay text-center">
                    <img class="card-img-top mt-2" src="~/Images/PremierLeague.png" style="max-width: 6rem" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Button -->
                    <div class="text-center">
                        <a href="/Home/PremierLeague" class="btn btn-sm btn-outline-success">League Table</a>
                        <a href="" class="btn btn-sm btn-outline-success">Forecast Info</a>
                    </div>
                </div>

            </div>
            <!-- Card -->
            <!-- Championship Card -->
            <div class="card m-2 border-warning" style="width: 18rem; box-shadow: 5px 5px 5px grey">

                <!-- Card image -->
                <div class="view overlay text-center pt-4">
                    <img class="card-img-top" src="~/Images/Championship.png" style="max-width: 8rem" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Button -->
                    <div class="text-center">
                        <a href="/Home/Championship" class="btn btn-sm btn-outline-warning">League Table</a>
                        <a href="/Home/Championship" class="btn btn-sm btn-outline-warning">Forecast Info</a>
                    </div>        
                </div>

            </div>
            <!-- Card -->
            <!-- Championship Card -->
            <div class="card m-2 border-dark" style="width: 18rem; box-shadow: 5px 5px 5px grey">

                <!-- Card image -->
                <div class="view overlay text-center" style="margin-top: 55px;">
                    <img class="card-img-top" src="~/Images/super6-logo.png" style="max-width: 10rem" alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body mt-5">

                    <!-- Button -->
                    <div class="text-center">
                        <a href="#" class="btn btn-sm btn-outline-primary">Forecast Info</a>
                    </div>
                </div>

            </div>
            <!-- Card -->
        </div>
        <div class="paddingHome"></div>

    </div>
   